AWS_secret_key=your aws secret key
AWS_access_key=your aws access key
AWS_region=aws region
MYSQL_ROOT_USER= default username
MYSQL_ROOT_PASSWORD=secret 123
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=database
TICKETS_DATA_PATH ="Your\ data\ filepath"